<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/murach" auth="Container" 
        driverClassName="com.mysql.cj.jdbc.Driver" 
        url="${DB_URL}" 
        username="${DB_USERNAME}" 
        password="${DB_PASSWORD}" 
        maxTotal="100" 
        maxIdle="30" 
        maxWaitMillis="10000" 
        logAbandoned="true" 
        removeAbandonedOnBorrow="true" 
        removeAbandonedTimeout="60" 
        type="javax.sql.DataSource" />  
</Context>